Package: com.xlzs001.dystorage
Name: DYStorage
Version: 1.2.3
Architecture: iphoneos-arm64
Description: Organizes compatible third-party Douyin tweak settings in one entry.
Maintainer: DYStorage Contributors
Author: DYStorage Contributors
Section: Tweaks
Depends: mobilesubstrate
